@keyframes slideUpFade {
    0% {
    transform: translateY(20px);
    opacity: 0;
    }
    100% {
    transform: translateY(0);
    opacity: 1;
    }
}

.animate-slide-up {
    animation: slideUpFade 0.8s ease-out forwards;
}

.animate-delay {
    animation-delay: 0.8s;
}